<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message reçu sur SiteXplore</title>
</head>
<body>
    <h1>Message reçu sur SiteXplore de {{firstName}} {{lastName}}</h1>
    <h2>Prénom :</h2>
    <p>{{firstName}}</p>
    <h2>Nom :</h2>
    <p>{{lastName}}</p>
    <h2>Email :</h2>
    <p>{{email}}</p>
    <h2>Sujet :</h2>
    <p>{{subject}}</p>
    <h2>Message :</h2>
    <p>{{content}}</p>

    <a href="mailto:{{email}}">Répondre</a>
</body>
</html>
