<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Récapitulatif de mon message sur SiteXplore</title>
</head>
<body>
    <h1>Récapitulatif de mon message sur SiteXplore</h1>
    <p>Bonjour {{firstName}} {{lastName}},</p>
    <p>Merci pour votre message sur notre site SiteXplore, voici un récapitulatif : </p>
    <h2>Prénom :</h2>
    <p>{{firstName}}</p>
    <h2>Nom :</h2>
    <p>{{lastName}}</p>
    <h2>Email :</h2>
    <p>{{email}}</p>
    <h2>Sujet :</h2>
    <p>{{subject}}</p>
    <h2>Message :</h2>
    <p>{{content}}</p>
    <p>Nous veillerons à vous répondre dans les plus brefs délais</p>
</body>
</html>
